/* Banner start */



/* Banner finish */

#banner {
  height: 35%;
  flex: 2;
}

/* Profile start */

#profile_panel {
  display: none;
}

#profile_column {
  background-position: center 75%;
  background-size: 50%;
  height: 100%;
  flex: 1;
}

#profile_column.wide {
  flex: 10;
}

#profile_column.arrow_be_seeing_ya {
  background-position: center 500%;
}

#profile_column #titles {
  height: 14%;
}

#profile_column h1 {
  font-size: 250%;
}

#profile_column h3 {
  font-size: 200%;
}

#profile_column #profile_picture {
  height: 25%;
}

#profile_column.small_face #profile_picture {
  height: 15%;
}

#profile_column > .profile_info {
  transform: translateY(150%);
  height: 47%;
  font-size: 120%;
  padding: 2% 0;
}

#profile_column.wide_active > .profile_info {
  transform: translateY(0);
}

#profile_column.wide_active > .profile_info {
  height: 57%;
}

#profile_column .social_media {
  font-size: 350%;
  height: 12%;
}

/* Profile finish */



/* Flex panels start */

#flex_panels {
  flex: 3;
}

.flex_panel > *:first-child {
  transform: translateX(-100%);
}

.flex_panel > *:last-child {
  transform: translateX(100%);
}

.flex_panel.open {
  flex: 4;
}

/* Flex panels finish */
