#main_column {
  flex-direction: column;
}



/* Banner start */

#banner {
  height: 35%;
  flex: 2;
}

/* Banner finish */



/* Profile start */

#profile_panel {
  display: none;
}

#profile_column {
  background-image: url("../images/down.svg"), linear-gradient(#EFF7CF, orange);
  background-repeat: no-repeat;
  background-position: center 75%;
  background-size: 50%, 100%;
  height: 100%;
  flex: 1;
}

#profile_column * {
  transition: all 0.7s ease-in-out 0.9s;
}

#profile_column.wide {
  flex: 10;
}

#profile_column.arrow_be_seeing_ya {
  background-position: center 500%;
}

#profile_column #profile_picture {
  height: 25%;
}

#profile_column.small_face #profile_picture {
  height: 15%;
}

#profile_column .profile_titles {
  height: 14%;
}

#profile_column h1 {
  font-size: 250%;
}

#profile_column h3 {
  font-size: 200%;
}

#profile_column > .profile_info {
  transform: translateY(150%);
  height: 47%;
  font-size: 120%;
  padding: 2% 0;
}

#profile_column.info_appear > .profile_info {
  transform: translateY(0);
  height: 57%;
}

#profile_column .profile_social_media {
  font-size: 350%;
  height: 12%;
}

/* Profile finish */



/* Flex blocks start */

#flex_panels {
  display: none;
}

#flex_blocks {
  flex: 3;
  transition: flex 0.7s ease-in-out 0.7s;
}

#flex_blocks.hide {
  flex: 0;
}

.flex_block {
  transition: flex 0.9s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}

.flex_block > * {
  flex: 1 1 33.3%;
  transition: transform 0.5s ease-in-out 0.7s;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.flex_block > *:first-child {
  transform: translateX(-100%);
}

.flex_thing.open_active > *:first-child {
  transform: translateX(0);
}

.flex_block > *:last-child {
  transform: translateX(100%);
}

.flex_block.open_active > *:last-child {
  transform: translateX(0);
}

.flex_block.open {
  flex: 4;
}

#flex_block1 {
  background-image: url('../images/water.jpg');
  background-position: 0 18%;
  background-size: cover;
}

#flex_block2 {
  background-image: url('../images/field.jpg');
  background-position: 0 65%;
  background-size: cover;
}

#flex_block3 {
  background-image: url('../images/jump.jpg');
  background-position: 0 15%;
  background-size: cover;
}

/* Flex blocks finish */
