#flex_panels {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 3;
  transition: flex 0.7s ease-in-out 0.7s;
  color: #F8F1FF;
}

#flex_panels a {
  color: #F8F1FF;
}

#flex_panels a:hover {
  text-decoration: none;
}

#flex_panels a:hover h3 {
  text-decoration: underline;
}

#flex_panels.hide {
  flex: 0;
}

.flex_panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  transition: flex 0.9s cubic-bezier(0.61,-0.19, 0.7,-0.11);
}

.flex_panel:hover {
  cursor: pointer;
}

.flex_panel > * {
  flex: 1 1 33.3%;
  transition: transform 0.5s ease-in-out 0.7s;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.flex_panel > *:first-child {
  transform: translateX(-100%);
}

.flex_panel > *:last-child {
  transform: translateX(100%);
}

.flex_panel.open {
  flex: 4;
}

.flex_panel.open_active > *:first-child {
  transform: translateX(0);
}

.flex_panel.open_active > *:last-child {
  transform: translateX(0);
}

.flex_panel > div {
  padding: 3%;
  overflow-y: visible;
}

#flex_panel1 {
  background-image: url('../images/water.jpg');
  background-position: 0 18%;
  background-size: cover;
}

#flex_panel2 {
  background-image: url('../images/field.jpg');
  background-position: 0 65%;
  background-size: cover;
}

#flex_panel3 {
  background-image: url('../images/jump.jpg');
  background-position: 0 15%;
  background-size: cover;
}
