/* Banner start */



/* Banner finish */

#banner {
  display: none;
}

/* Profile start */

#profile_column {
  display: none;
}

#profile_panel {
  flex: 4;
  background-position: center 75%;
  background-size: 20%;
  height: 100%;
}

#profile_panel * {
  transition: all 0.7s ease-in-out;
}

#profile_panel .full_screen_profile {
  flex: 10;
}

#profile_panel.mini_profile {
  flex: 1;
}

#profile_panel .profile_titles {
  height: 14%;
}

#profile_panel h1 {
  font-size: 250%;
}

#profile_panel h3 {
  font-size: 200%;
}

#profile_panel.mini_profile h3 {
  transform: translateX(100%);
}

#profile_panel #profile_picture {
  height: 15%;
}

#profile_panel.mini_profile #profile_picture {
  height: 0;
  border: none;
}

#profile_panel.big_face #profile_picture {
  height: 25%;
}

#profile_panel > .profile_info {
  transform: translateY(300%);
  height: 47%;
  font-size: 120%;
  padding: 2% 0;
}

#profile_panel.info_appear > .profile_info {
  transform: translateY(0);
}

#profile_panel .social_media {
  font-size: 350%;
  height: 12%;
}

/* Profile finish */



/* Flex panels start */

#flex_blocks {
  display: none;
}

#flex_panels {
  flex: 8;
  transition: flex 0.7s ease-in-out;
}

#flex_panels.hide {
  flex: 0;
}

.flex_panel > *:first-child {
  transform: translateX(-100%);
}

.flex_panel > *:last-child {
  transform: translateX(100%);
}

.flex_panel.open {
  flex: 6;
}

#flex_panel1 {
  background-position: 0 18%;
  background-size: cover;
}

#flex_panel2 {
  background-position: 0 65%;
  background-size: cover;
}

#flex_panel3 {
  background-position: 0 15%;
  background-size: cover;
}

/* Flex panels finish */
