.profile {
  overflow: hidden;
  background-color: #EFF7CF;
  color: #273469;
  border-left: 3px ridge rgba(211, 211, 211, 0.5);
  background-image: url('../images/down.svg');
  background-repeat: no-repeat;
  background-position: center 25em;
  background-size: 12em;
}

.profile.arrow_be_seeing_ya {
  background-position: center 150%;
}

.profile:hover {
  cursor: pointer;
}

.profile h1, .profile h3 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
}

#profile_column {
  padding: 2vh 2% 0 2%;
  flex: 1;
  transition:
    flex 1s cubic-bezier(0.25, 0.1, 0.25, 1),
    background 1s cubic-bezier(0.25, 0.1, 0.25, 1) 1s;
}

#profile_column.wide {
  flex: 10;
}

#profile_picture {
  height: 23%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 1vh 0 1vh 0;
  border: 2px ridge rgba(255, 255, 255, 1.0);
}

.profile > * {
  transition: transform 0.7s ease-in-out 0.9s;
}

.profile > .profile_info {
  transform: translateY(35em);
  height: 27em;
  font-size: 1em;
  padding: 2vh 0;
  overflow-y: scroll;
}

.profile.wide_active > .profile_info {
  transform: translateY(0);
}

.profile .social_media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.profile .social_media a {
  color: #273469;
}

.profile .social_media > * {
  min-width: 20px;
}
